@model Proyecto_progra_4.Models.PacientesModel

<div>
    @*<h4>PacientesModel</h4>
    <hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPacientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPacientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_de_Sangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_de_Sangre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCita)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
